
@mixin tarjetas_index ($flex, $direction, $align, $width){
    display: $flex;
    flex-direction: $direction;
    align-items: $align;
    width: $width;
}

%flex_texto_proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: start;
    width: 50%;
}

$botones_color_blue:#050a30;
$botones_color_white: white;
$botones_color_transition:rgb(153, 153, 155);
